/*commun à toutes les pages*/
body{
    margin: 0;
}

header,footer{
    background-color: #3b38e0;
}

header{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 60% 20%;
    border-bottom: solid black 2px;
}

header h1{
    grid-area: 1/2;
    color: white;
    text-align: center;
}

/*header > form{
    grid-area: 1/3;
    padding:5px;
}*/
header .accueil a{
    text-decoration: none;
    color: white;
}

header .user-profile-dropdown{
    align-self: center;
    grid-area: 1/3;
    /*flex-direction: row;*/
    justify-content: right;

}
/*header div form{
    display:grid;
}*/

header button{
    border: none;
    background:none;
    color: black;
    justify-self: right;
    font-size: 105%;
}

header button:hover{
    font-weight: bold;
}

header img{
    padding:5px;
    height:10vh;
    size:auto;
    border-radius: 100%;
    align-self: center;
    max-width:150px;
    max-height: 70px;
}

main{
    padding: 2%;
}

footer{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border-top: solid black 2px;
    padding: 2%; 
}

footer > *{
    font-size: 110%;
    align-self: center;
    justify-self: center;
    text-align: center;
    width:100%;
    height:auto;
    color: white;
}

footer > div {
    border-left: solid white 1px;
}

footer a img{
    align-self: center;
    justify-self: center;
    padding-left: 3%;
    display: inline-block;
    height :auto;
    width :60%;
}


/*page connexion*/
#connexion{
    padding:1%;
    border-right: solid #3b38e0 1px;
}

#connexion form{
    display:grid;
    grid-template: 33% 33% 34% / 49.5% 49.5%;
    column-gap: 1%;
    row-gap: 4px;
}

#connexion form label{
    text-align: right;
}

#connexion form input{
    justify-self: left;
    width:75%
}

#connexion input#mdp:placeholder-shown,input#newmdp:placeholder-shown{
    background-color:none;
}

#connexion input#mdp:valid,input#newmdp:valid{
    background-color: lightgreen;
}

#connexion input#mdp:invalid:not(:placeholder-shown),input#newmdp:invalid:not(:placeholder-shown){
    background-color: lightcoral;
}

#connexion form button{
    grid-area: 3/1/4/ span 2;
    width:25%;
    height:auto;
    align-self: center;
    justify-self: center;
}
 #connexion h2{
     text-align: center;
 }

.erreurMdp{
    color: red;
    text-align: center;
}

/*page accueil*/

table{
    table-layout: fixed;
    width: 100%;
}

table#listarticleaccueil{
    border-collapse: collapse;
}

table#listarticleaccueil td{
    text-align: center;
    border-bottom: solid #3b38e0 1px;
}

table#listarticleaccueil td button{
    border: none;
    background:none;
    text-decoration: underline;
    cursor: pointer;
}

table#listarticleaccueil td button:hover{
    font-weight: bold;
}

table#listarticleaccueil tr:last-of-type td{
    border:none;
}

/* Style pour le menu déroulant */
.user-profile-dropdown {
    display: inline-block;
    position: relative;
    text-align: right;
}

/* Enlevé car peut faire croire qu'on peut cliquer dessus
.user-profile-dropdown img {
    cursor: pointer;
}
*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Placer en dessous de l'image */
    right: 0;
}

.dropdown-content a, .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer; /* Changement du curseur au survol */
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: #f1f1f1;
}

.user-profile-dropdown:hover .dropdown-content {
    display: block;
    /*margin-top: 10px; /* Ajuster la marge pour placer en dessous de l'image */
}


/* Style pour le bouton "Se déconnecter" */
.logout-button {
    display: inline-block;
}

textarea{
    resize: none;
}

/*page newarticle*/
form#creationarticle{
    display:flex;
    flex-direction:column ;
    row-gap: 8px;
}

form#creationarticle section{
    display:grid;
    grid-template-columns: 150px auto;
}

form#creationarticle textarea{
    resize: none;
}

form#creationarticle button{
    width: 150px;
    height: 30px;
    align-self: center;
}

/*page profil*/
form#profil{
    padding: 1%;
    gap:10px;
}
form#profil fieldset{
    border:none;
    display: flex;
    align-items: center;
    gap:5px;
}
form#profil img{
    width : 5vw;
    size:auto;
    max-height: 20vh;
}